<div class="container col-xxl-6 mt-4">
  <div class="row d-flex justify-content-between">
    <form class="row" method="POST" #frm="ngForm" (ngSubmit)="IncluirPropriedade(frm)">
      <div class="col-md-6">
        <label for="inputNome" class="form-label" >Nome</label>
        <input type="email" name="nome" class="form-control" id="inputNome" [(ngModel)]="propriedade.nome">
      </div>
      <div class="col-md-6">
        <label for="inputInscricaoEstadual" class="form-label">Inscrição Estadual</label>
        <input type="text" name="inscricaoEstadual" class="form-control" id="inputInscricaoEstadual" [(ngModel)]="propriedade.inscricaoEstadual">
      </div>
      <div class="col-md-10">
        <label for="inputRua" class="form-label">Rua</label>
        <input type="text" name="rua" class="form-control" id="inputRua" [(ngModel)]="propriedade.endereco.rua">
      </div>
      <div class="col-md-2">
        <label for="inputNumero" class="form-label">Numero</label>
        <input type="text" name="numero" class="form-control" id="inputNumero" [(ngModel)]="propriedade.endereco.numero">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Estado</label>
        <select name="idMunicipio" id="inputState" class="form-select" [(ngModel)]="propriedade.endereco.idMunicipio">
          <option value="1">Teste</option>
          <option *ngFor="let municipio of municipios">Escolha...</option>
        </select>
      </div>
      <div class="col-md-2 p-4 mt-2">
        <button type="submit" class="btn btn-success">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
