<div class="modal fade" id="adicionarPropriedade" aria-hidden="true" aria-labelledby="adicionarPropriedadeLabel" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
      <app-incluir-propriedade></app-incluir-propriedade>
    </div>
  </div>
</div>
<div class="modal fade" id="editarPropriedade" aria-hidden="true" aria-labelledby="editarPropriedadeLabel" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
      <app-editar-propriedade [propriedade]="propriedade"></app-editar-propriedade>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-4">
  <div class="row d-flex justify-content-between">
    <button type="button" data-bs-toggle="modal" href="#adicionarPropriedade" role="button" class="btn btn-success col-md-3 mt-2">Adicionar</button>
    <form class="d-flex col-md-4 mt-2">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Procurar</button>
    </form>
  </div>
  <div class="row">
    <ng-container *ngIf="propriedades.length == 0">
      <div class="alert alert-danger mt-2" role="alert">
        Nenhum registro encontrado!
      </div>
    </ng-container>
    <div class="col-sm-4 mt-3" *ngFor="let propriedade of propriedades">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{propriedade.nome}}</h5>
          <p class="card-text">Inscrição Estadual: {{propriedade.inscricaoEstadual}}</p>
          <p class="card-text">Rua: {{propriedade.endereco.rua}}, {{propriedade.endereco.numero}}</p>
          <p class="card-text">Municipio: {{propriedade.endereco.municipio.nome}}</p>
          <p class="card-text">Produtor: {{propriedade.produtor.nome}}</p>
          <p class="card-text">CPF: {{propriedade.produtor.cpf}}</p>
          <a href="#editarPropriedade" data-bs-toggle="modal" class="btn btn-warning fas fa-edit" (click)="getPropriedade(propriedade)"></a>
        </div>
      </div>
    </div>
  </div>
</div>
