<app-incluir-propriedade></app-incluir-propriedade>
<app-editar-propriedade [propriedade]="propriedade"></app-editar-propriedade>

<div class="container col-xxl-8 px-4 py-4">
  <h1 class="display-5 text-center">Lista de Propriedades</h1>
  <div class="row d-flex justify-content-between">
    <button type="button" data-bs-toggle="modal" href="#adicionarPropriedade" role="button" class="btn btn-success col-md-3 mt-2">Adicionar</button>
    <div class="d-flex col-md-4 mt-2">
      <input class="form-control me-2" type="search" placeholder="Pesquisar por Inscrição" [(ngModel)]="inscricaoEstadual" aria-label="Search">
      <button class="btn btn-outline-success" type="submit" (click)="redirecionarPesquisa()">Procurar</button>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="propriedades.length == 0">
      <div class="alert alert-danger mt-2" role="alert">
        Nenhum registro encontrado!
      </div>
    </ng-container>
    <div class="col-md-6 col-lg-4 mt-3" *ngFor="let propriedade of propriedades">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{propriedade.nome}}</h5>
          <p class="card-text">Inscrição Estadual: {{propriedade.inscricaoEstadual.slice(0,2)}}.{{propriedade.inscricaoEstadual.slice(2,5)}}.{{propriedade.inscricaoEstadual.slice(5,8)}}-{{propriedade.inscricaoEstadual[8]}}</p>
          <p class="card-text">Rua: {{propriedade.endereco.rua}}, {{propriedade.endereco.numero}}</p>
          <p class="card-text">Municipio: {{propriedade.endereco.municipio.nome}}</p>
          <p class="card-text">Produtor: {{propriedade.produtor.nome}}</p>
          <p class="card-text">CPF: {{propriedade.produtor.cpf.slice(0,3)}}.{{propriedade.produtor.cpf.slice(3,6)}}.{{propriedade.produtor.cpf.slice(6,9)}}-{{propriedade.produtor.cpf.slice(9,11)}}</p>
          <a href="#editarPropriedade" data-bs-toggle="modal" class="btn btn-warning fas fa-edit" (click)="getPropriedade(propriedade)"></a>
          <a type="button" class="btn btn-primary ms-1" (click)="redirecionarParaPropriedade(propriedade.inscricaoEstadual)">Detalhes</a>
        </div>
      </div>
    </div>
  </div>
</div>
