<div class="modal fade" id="adicionarVenda" aria-hidden="true" aria-labelledby="adicionarVendaLabel" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
      <app-incluir-venda></app-incluir-venda>
    </div>
  </div>
</div>

<div class="modal fade" id="cancelarVenda" aria-hidden="true" aria-labelledby="adicionarVendaLabel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content container">
      <app-cancelar-venda [venda]="venda"></app-cancelar-venda>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-4">
  <div class="row d-flex justify-content-between">
    <button type="button" data-bs-toggle="modal" href="#adicionarVenda" role="button" class="btn btn-success col-md-3 mt-2">Adicionar</button>
  </div>
  <div class="row">
    <input type="radio" class="btn-check" name="options" id="Vendas" checked/>
    <label class="btn btn-primary col-md-2 mt-2" (click)="listarVendasPorOrigem()" for="Vendas">Vendas</label>
    <input type="radio" class="btn-check" name="options" id="Compras">
    <label class="btn btn-primary col-md-2 mt-2"  (click)="listarVendasPorDestino()" for="Compras">Compras</label>
  </div>
  <div class="row">
    <ng-container *ngIf="vendas.length == 0">
      <div class="alert alert-danger mt-2" role="alert">
        Nenhum registro encontrado!
      </div>
    </ng-container>
    <div class="col-sm-4 mt-3" *ngFor="let venda of vendas">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-row-reverse">
            <a href="#cancelarVenda" (click)="cancelarVenda(venda)" data-bs-toggle="modal" class="btn btn-danger ms-1 fa fa-trash"></a>
          </div>
          <h5 class="card-title">Especie: {{venda.especie.nome}}</h5>
          <p class="card-text">Origem: {{venda.origem.nome}}</p>
          <p class="card-text">Destino: {{venda.destino.nome}}</p>
          <p class="card-text">Quantidade: {{venda.quantidade}}</p>
          <p class="card-text">Finalidade de Venda: {{venda.finalidadeDeVenda.nome}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
