/* You can add global styles to this file, and also import other style files */
.grey-color{
  background-color: #EEEEEE;
}

.green-color{
  background-color: #4FB536;
}

.row > * {
  padding-left: 0 !important;
}
