<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="">Home</a>
        <a class="nav-link" href="/Animal">Entrada de Animal</a>
        <a class="nav-link" href="/Produtor">Produtor</a>
        <a class="nav-link" href="/Propriedade">Propriedade</a>
        <a class="nav-link" href="/Venda">Venda</a>
        <a class="nav-link" href="/RegistroVacina">Registro Vacina</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link">Olá, {{nomeProdutor}}</a>
      </div>
    </div>
  </div>
</nav>
<div class="background-top">
</div>
<router-outlet></router-outlet>
  <footer class="p-5 bg-success footer ">
    <div>
      <div class="d-flex align-items-center">
        <img class="logo-div" src="logo-iagro-rodape.png">
      </div>
    </div>
  </footer>

