<div class="modal fade" id="cancelarVenda" aria-hidden="true" aria-labelledby="adicionarVendaLabel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="row p-3">
        <h5 class="card-title">Especie: {{venda.rebanho.especie.nome}}</h5>
        <p class="card-text">Origem: {{venda.origem.nome}}</p>
        <p class="card-text">Destino: {{venda.destino.nome}}</p>
        <p class="card-text">Quantidade: {{venda.quantidade}}</p>
        <p class="card-text">Finalidade de Venda: {{venda.finalidadeDeVenda.nome}}</p>
        <div>
          <div class="modal-footer">
            <p>Deseja realmente excluir este registro:</p>
            <button class="btn btn-danger" (click)="cancelarVenda(venda.idVenda)">Sim</button>
            <button type="" class="btn btn-primary" #buttonClose data-bs-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
