<app-incluir-animal></app-incluir-animal>
<app-cancelar-animal [animal]="animal"></app-cancelar-animal>

<div class="container col-xxl-8 px-4 py-4">
  <div class="row d-flex justify-content-between">
    <button type="button" data-bs-toggle="modal" href="#adicionarAnimal" role="button"
            class="btn btn-success col-md-3 mt-2">Adicionar
    </button>
    <div class="col-md-5">
      <select name="idPropriedade" id="inputPropriedade" class="form-select" (change)="selecionarPropriedade()"
              [(ngModel)]="idPropriedade">
        <option selected value="0">Todos os Registros</option>
        <option *ngFor="let propriedade of propriedades"
                value="{{propriedade.idPropriedade}}">{{propriedade.inscricaoEstadual}} - {{propriedade.nome}}</option>
      </select>
    </div>
    <ng-container *ngIf="animais.length == 0">
      <div class="alert alert-danger mt-2" role="alert">
        Nenhum registro encontrado!
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-sm-4 mt-3" *ngFor="let animal of animais">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-row-reverse">
            <a data-bs-toggle="modal" href="#cancelarAnimal" (click)="cancelar(animal)" role="button"
               class="btn btn-danger ms-1 fa fa-trash"></a>
          </div>
          <h5 class="card-title">{{animal.propriedade.nome}}</h5>
          <p class="card-text">Quantidade Total: {{animal.quantidadeTotal}}</p>
          <p class="card-text">Quantidade Vacinada: {{animal.quantidadeVacinada}}</p>
          <p class="card-text">Especie: {{animal.especie.nome}}</p>
          <p class="card-text">Inscricao Estadual: {{animal.propriedade.inscricaoEstadual}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
