<app-produtor></app-produtor>
<app-editar-produtor [produtor]="produtor"></app-editar-produtor>
<div class="container col-xxl-8 px-4 py-4">
  <h1 class="display-5 text-center">Lista de Produtores</h1>
  <p class="blockquote-footer text-center">
    Selecione um produtor para acessar as informações
  </p>
  <div class="row d-flex justify-content-between">
    <button type="button" data-bs-toggle="modal" href="#adicionarProdutor" role="button"
            class="btn btn-success col-md-3 mt-2">Adicionar
    </button>
    <div class="d-flex col-md-4 mt-2">
      <input class="form-control me-2" type="search" placeholder="Pesquisar por CPF" [(ngModel)]="CPF" aria-label="Search">
      <button class="btn btn-outline-success" type="submit" (click)="pesquisarPorCPF()">Procurar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 mt-3" *ngFor="let produtor of produtores">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{produtor.nome}}</h5>
          <p class="card-text">CPF: {{produtor.cpf}}</p>
          <p class="card-text">Endereço: {{produtor.endereco.rua}}, {{produtor.endereco.numero}}</p>
          <p class="card-text">Municipio: {{produtor.endereco.municipio.nome}}
            - {{produtor.endereco.municipio.estado}}</p>
          <a href="#editarProdutor" data-bs-toggle="modal" (click)="getProdutor(produtor)"
             class="btn btn-warning fas fa-edit"></a>
          <a class="btn btn-primary ms-1"
             (click)="selecionarProdutor(produtor.idProdutor, produtor.nome,produtor.cpf)" >Detalhes</a>
        </div>
      </div>
    </div>
  </div>
</div>
