<div class="modal fade" id="adicionarRegistroVacina" aria-hidden="true" aria-labelledby="adicionarRegistroVacinaLabel"
     tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
      <div class="container">
        <div class="modal-header">
          <button class="btn btn-close" data-bs-dismiss="modal"></button>
        </div>
        <form class="row p-3" method="POST" #frm="ngForm" (ngSubmit)="IncluirRegistroVacina(frm)">
          <div class="col-md-2">
            <label for="inputQuantidade" class="form-label">Quantidade</label>
            <input type="text" pattern="[0-9]+" name="cpf" class="form-control" id="inputQuantidade"
                   [(ngModel)]="registroVacina.quantidade">
          </div>
          <div class="col-md-10">
            <label for="inputDataDaVacina" class="form-label">Data da vacina</label>
            <input type="date" name="dataDaVacina" class="form-control" id="inputDataDaVacina"
                   [(ngModel)]="registroVacina.dataDaVacina">
          </div>
          <div class="col-md-5">
            <label for="inputAnimal" class="form-label">Animal e Propriedade</label>
            <select name="idAnimal" id="inputAnimal" class="form-select" [(ngModel)]="registroVacina.idAnimal">
              <option *ngFor="let animal of animais" value="{{animal.idAnimal}}">
                {{animal.especie.nome}} - {{animal.propriedade.idPropriedade}} - {{animal.propriedade.nome}}</option>
            </select>
          </div>
          <div class="col-md-5">
            <label for="inputVacina" class="form-label">Vacina</label>
            <select name="idVacina" id="inputVacina" class="form-select" [(ngModel)]="registroVacina.idVacina">
              <option *ngFor="let vacina of vacinas" value="{{vacina.idVacina}}">{{vacina.tipo}}
                - {{vacina.marca}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Cadastrar</button>
            <button type="button" class="btn btn-danger"  data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
