<div class="modal fade" id="adicionarAnimal" aria-hidden="true" aria-labelledby="adicionarAnimalLabel" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container">
      <div class="container">
        <div class="modal-header">
          <button class="btn btn-close" data-bs-dismiss="modal"></button>
        </div>
        <form name="adicionarAnimal" class="row p-3"  method="POST" #frm="ngForm" (ngSubmit)="incluir(frm)">
          <div class="col-6" >
            <label for="inputQuantidadeTotal" class="form-label">Quantidade Total</label>
            <input type="text" name="quantidadeTotal" class="form-control" id="inputQuantidadeTotal"
                   [(ngModel)]="animal.quantidadeTotal">
            <div *ngIf="error != undefined && error.QuantidadeTotal != undefined" class="col-12 text-danger">
              {{error.QuantidadeTotal[0]}}
            </div>
          </div>
          <div class="col-6">
            <label for="inputQuantidadeVacinada" class="form-label">Quantidade Vacinada</label>
            <input type="text" pattern="[0-9]+" name="quantidadeVacinada" class="form-control" id="inputQuantidadeVacinada"
                   [(ngModel)]="animal.quantidadeVacinada">
            <div *ngIf="error != undefined && error.QuantidadeTotal != undefined" class="col-12 text-danger">
              {{error.QuantidadeTotal[0]}}
            </div>
          </div>
          <div class="col-12">
            <label for="inputIdPropriedade" class="form-label">Propriedade</label>
            <select name="IdPropriedade" id="inputIdPropriedade" class="form-select" [(ngModel)]="animal.idPropriedade">
              <option value="0">Selecione uma Propriedade</option>
              <option *ngFor="let propriedade of propriedades" [value]="propriedade.idPropriedade">
                {{propriedade.inscricaoEstadual}} - {{propriedade.nome}}</option>
            </select>
            <div *ngIf="error != undefined && animal.idPropriedade == 0 && frm.submitted" class="col-12 text-danger">
              Selecione uma Propriedade!
            </div>
          </div>
          <div class="col-6">
            <label for="inputIdEspecie" class="form-label">Especie</label>
            <select name="idEspecie" id="inputIdEspecie" class="form-select" [(ngModel)]="animal.idEspecie">
              <option value="0">Selecione uma Especie</option>
              <option *ngFor="let especie of especies" [value]="especie.idEspecie">{{especie.nome}}</option>
            </select>
            <div *ngIf="error != undefined && animal.idEspecie == 0 && frm.submitted" class="col-12 text-danger">
              Selecione uma Especie!
            </div>
          </div>
          <div class="col-6">
            <label for="inputIdEspecie" class="form-label">Tipo De Entrada</label>
            <select name="idEspecie" id="inputIdTipoDeEntrada" class="form-select" [(ngModel)]="animal.idTipoDeEntrada">
              <option value="0">Selecione um Tipo de Entrada</option>
              <option *ngFor="let tipoDeEntrada of tipoDeEntradas" [value]="tipoDeEntrada.idTipoDeEntrada">{{tipoDeEntrada.nome}}</option>
            </select>
            <div *ngIf="error != undefined && animal.idTipoDeEntrada == 0 && frm.submitted" class="col-12 text-danger">
              Selecione um municipio!
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Cadastrar</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
