  <div class="container d-flex justify-content-between">
    <form class="row p-3" method="POST" #frm="ngForm" (ngSubmit)="Incluir(frm)">
      <div class="col-6">
        <label for="inputQuantidadeTotal" class="form-label" >Quantidade Total</label>
        <input type="text" name="nome" class="form-control" id="inputQuantidadeTotal" [(ngModel)]="animal.quantidadeTotal">
      </div>
      <div class="col-6">
        <label for="inputQuantidadeVacinada" class="form-label">Quantidade Vacinada</label>
        <input type="text" pattern="[0-9]+" name="cpf" class="form-control" id="inputQuantidadeVacinada" [(ngModel)]="animal.quantidadeVacinada">
      </div>
      <div class="col-6">
        <label for="inputIdPropriedade" class="form-label">Propriedade</label>
        <select name="IdPropriedade" id="inputIdPropriedade" class="form-select" [(ngModel)]="animal.idPropriedade">
          <option value="0">Selecione uma Propriedade</option>
          <option *ngFor="let propriedade of propriedades" [ngValue]="propriedade.idPropriedade">
            {{propriedade.inscricaoEstadual}} - {{propriedade.nome}}</option>
        </select>
      </div>
      <div class="col-6">
        <label for="inputIdEspecie" class="form-label">Especie</label>
        <select name="idEspecie" id="inputIdEspecie" class="form-select" [(ngModel)]="animal.idEspecie">
          <option value="0">Selecione uma Especie</option>
          <option *ngFor="let especie of especies" [ngValue]="especie.idEspecie">{{especie.nome}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Cadastrar</button>
      </div>
    </form>
  </div>
